.blogs_wrapper{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.blogs_container{

background-color:#75746f29;
 min-height: 120px;
 padding: 10px;
 margin-left: 20px;
 border-radius: 10px;
 transition: transform 200ms cubic-bezier(0, 0, 0, 1.01),box-shadow;
}
.blogs_container:hover{
    transform: translateY(-5px);
    
    box-shadow: 3px 2px 7px 0px #8a8b8d;

}
.blogs_container h2{
    margin-top: 20px;
    font-weight: 800;
}
.blogs_container a {
    color: #000000c7;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.blogs_container a:hover {
    color: black;
}
.blogs_container:last-child{
    margin-bottom: 100px;
}


.blogs_container p{
    display: flex;
    font-size: 10px;
    font-weight: 100;
    width: -webkit-max-content;
    width: max-content;
    border-radius: 3px;
    margin-top: 10px;
    padding: 3px;
    background-color: #61616173;
    justify-content: center;

}
.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-bottom: 70px;
    
}
.dateClass{
    display: flex;
    font-size: 10px;
    font-weight: 100;
    width: -webkit-max-content;
    width: max-content;
    border-radius: 3px;
    margin-top: 10px;
    padding: 3px;
    background-color: #61616173;
    justify-content: center;
}

@media screen and (max-width: 600px) {

    .blogs_wrapper{
        padding: 15px;
        width: 200px;
        margin: auto;
        display: flex;
       
        flex-wrap: wrap;
    }
  }