footer{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  bottom: 0;
  margin-top: 10px;
  
}
.footer_container{
  /* background-color :#c8c7c6; */
  padding: 5px;
  color: black;
  display: flex;
  /* width: 600px; */
  /* height: max-content; */
  
  gap: 10px;
  margin:auto;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;

}
.footerLinks{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;

}
.footerLinks > a {
 text-decoration: none;
 color:#000000;
 border: 2px solid #615e5e;
 border-radius: 5px;
 padding: 5px;
  transition: background-color 200ms cubic-bezier(0.075, 0.82, 0.165, 1),color;

  
}

.footerLinks > a:hover{
  background-color: #615e5e;
  color: white;
}

@media screen and (max-width: 700px) {
  /* .footer_container{

    padding: 5px;
    background-color: #89848463;
    color: black;
    display: flex;
    width: 100%;
    height: max-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
  
  } */
}



